body {
    overflow:hidden; 
    background: #34495e;
    margin:0;
    padding:0;
    font-size: 1.8em;
}
#content {
    width: 100%;
    height: auto;
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

#logo{
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
}

#logo img {
    max-width: 100%;
}

label{
    color: #ecf0f1;
    width: 100%;
    margin: 15px;
    font-size: 100%;
    display: block;
}

label input{
    width: 60%;
    padding: 10px;
    font-size: 0.8em;
    border-radius: 8px;
}

label select{
    width: 30%;
    padding: 10px;
    font-size: 0.6em;
    border-radius: 8px;
}

#send {
    background: #ecf0f1;
    color: #000;
    border-radius: 8px;
    padding: 8px;
    font-size: 0.6em;
    width: 40%;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}